
body {
  margin: 0;
}

div, input, textarea {
  box-sizing: border-box;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin : 5px 0px;
} 

a {
  text-decoration: none;
}

.form-input {
  width: 50%;
  max-width: 500px;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid lightgray;
  margin-top: 30px;
}

.submit-btn {
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 15px;
  color: white;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.write-box {
  padding: 30px;
  text-align: center;
}

.navbar {
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
  float: left;

}

.search-box {
  padding: 30px;
  text-align: center;
  border: 1px solid lightgray;

}
.search-card {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
  width: 80%;
  text-align: left;
  
  width: 80%;
  max-width: 600px;
}
.search-bg {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  max-width: 700px;
  display: block;
  margin: auto;
  margin-top: 50px;
  
}

.search-input {
  border: none;
  width: 90%;
}

.black-btn {
  padding: 10px;
  width: 160px;
  margin-top: 10px;
  font-size: 18px;
}

.search {
  border: 1px solid black;
  float: left;
 
}

.icon {
  float: right;
  margin-right: 5px;
  color: black;
}

.wcloud-bg {
  padding: 30px;
  border: 1px solid lightgray;
  text-align: center;
}
.wordcloud_section {
  width: 100%;
  height: 420px;
  background: rgba(255,255,255,1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 170px;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 1172px;
  left: 0px;
  overflow: hidden;
}
.wordcloud_name {
  width: 520px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.wordcloud1 {
  width: 50px;
  color: rgb(45, 45, 45);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.wordcloud2 {
  width: 50px;
  color: rgb(60, 60, 60);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.wordcloud3 {
  width: 50px;
  color: rgb(75, 75, 75);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.wordcloud4 {
  width: 50px;
  color: rgba(90, 90, 90);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.wordcloud5 {
  width: 50px;
  color: rgb(105, 105, 105);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.wordcloud6 {
  width: 50px;
  color: rgb(120, 120, 120);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.wordcloud7 {
  width: 50px;
  color: rgb(135, 135, 135);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.wordcloud8 {
  width: 50px;
  color: rgb(150, 150, 150);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 12.5px;
  opacity: 1;
  text-align: left;
}
.wordcloud9 {
  width: 50px;
  color: rgb(165, 165, 165);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.wordcloud10 {
  width: 50px;
  color: rgb(180, 180, 180);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
